*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

body{
  background-color: #272727;
}

header{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.hello{
  color: #FFFFFF;
  font-size: 8vw;
}

.difcolor{
  color: #F3CA2F;
}

.keyboard img{
  height: 30vh;
}

.button{
  color: #FFFFFF;
  padding: 0.5vw;
  margin-top: 1em;
  font-size: calc(1em + 1vw);
  border: 0.25em solid;
  text-decoration: none;

}
.button:hover{
  background-color: #F3CA2F;
  color: #272727;
}

nav{
  text-align: center;
  padding-top: 40vh;
  margin-bottom: 40vh;
  border-bottom: 0.3em solid #F3CA2F;
  width: 90%;
  margin: auto;
  
}
nav ul li{
  display: inline-block;
  padding: 2vw;
  font-size: calc(1em + 1vw);
}

nav ul li a{
  text-decoration: none;
  color: #FFFFFF;
}
nav ul li a:hover{
  color: #F3CA2F;
}
.grid{
  border: 0.4vw solid white;
  background-color: #F3CA2F;
  height: 20vh;
  color: #272727;
}

.info{
  font-size: calc(1em + 1vw);
  padding: 0 0.5em;
  text-align: center;
}

#bio{
 height: 25em;
 padding-top: 10%;
 padding-bottom:5%;
}
#gridcontainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1vh;
  width: 90%;
  margin: auto;
  margin-top:10%;
}

#gridcontainer > div{
  display: flex;
  justify-content: center;
  align-items: center;
}


.item1{
  background-image: url(profilphoto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  grid-row: 1/3;
  height: 43vh;
  animation: leftright 6s ease-in-out forwards infinite;
}

@keyframes leftright {
  0% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(1deg);
  }
}

.item1:hover{
  animation-play-state: paused;
}
.item2{
  grid-column: 2/4;
}

.grid:hover{
  background-color: #272727;
  color: #F3CA2F;
  cursor: pointer;
}

#education{
  width: 100%;
  padding-top:10%;
}
.schools{
  width: 50%;
  height:45em;
  float: left;
}

.schools ul{
  width: 90%;
  vertical-align: middle;
  padding-left: 2em;
  margin-top: 5em;
  color: white;
}
  
.schools ul li{
  padding: 1.5em;
  line-height: 1em;
  font-size: 2vmax;
  list-style-type: none;
}
.experiences{
  width:45%;
  height: 30em;
  margin-top: 5%;
  background-color: #FFFFFF;
  border:5px solid #F3CA2F;
  float:left;
  overflow: hidden;
  transform: rotate(-7deg);
  box-shadow: -3px 3px 3px rgba(243, 202, 47, 0.42);
}
.experiences p{
  color: black;
  z-index: 3;
  padding-left:1vw;
  padding-top: 2vh;
  width: 100%;
  font-size: calc(0.5em + 1vw);
  line-height: 9vh;
}
  

#contact{
  width: 100%;
  height: 25em;
  background: #F3CA2F;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact ul li{
  display: inline-block;
}

#contact i{
  font-size: 8vw;
  padding: 2vw;
  color: #272727;
}
#contact i:hover{
  color: #FFFFFF;
  transform: scale(1.1)
}













@media screen and (min-width:481px) and (max-width: 800px){


#gridcontainer{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-gap: 0.4em;
  width: 95%;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}
.grid{
  height: 15vmax;
  word-break: break-all;
  overflow-wrap: break-word;
}
.item1{
  grid-column: 1/2;
  grid-row: 1;
}
  .item2{
  grid-column: 2/3;
  grid-row: 1;
}

  .item3{
  grid-column: 1/2;
  grid-row: 2;
}

  .item4{
  grid-column: 2/3;
  grid-row: 2;
}
  .item5{
  grid-column: 1/2;
  grid-row: 3;
}

  .item6{
  grid-column: 2/3;
  grid-row: 3;
}
  .experiences p{
    line-height:3vmax;
  }

}

@media screen and (max-width: 480px){
.button{
  font-size: 5vw;
}
nav ul li{
  display: list-item;
  list-style-type: none;
  font-size: calc(1em + 1vw);
}
  #bio{
    height:50em;
    padding-top:10%;
  }
#gridcontainer{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6,1fr);
  grid-gap: 0.25em;
  width: 75%;
  margin: auto;
  padding-top: 5%;
}
.grid{
  height: 20vmax;
  word-break: break-all;
  overflow-wrap: break-word;
}
.item1{
  grid-column: 1/1;
  grid-row: 1/2;
}
.item2{
  grid-column: 1/1;
  grid-row: 2/3;
}

.item3{
  grid-column: 1/1;
  grid-row: 3/4;
}

.item4{
  grid-column: 1/1;
  grid-row: 4/5;
}
.item5{
  grid-column: 1/1;
  grid-row: 5/6;
}

.item6{
  grid-column: 1/1;
  grid-row: 6/7;
}
.schools{
 float: none;
 width:100%;
  height:80vh;
}
.schools ul{
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.schools ul li{
  font-size: 5vw;
  line-height: 5vw;
}
  .experiences{
    width:80%;
    height:80vh;
    margin-left:5vw;
    margin-bottom:5vh;
  }


#contact ul li{
  display: list-item;
  list-style-type: none;
}
#contact i{
  font-size: calc(2em + 4vmax);
}
}


@media screen and (min-width:801px) and (max-width:1100px) {

.grid{
   word-break: break-all;
   overflow-wrap: break-word;
 }

}