body{
    margin: 0 auto;
    padding: 0;
    background-color: #98D9C2;
    color: #403233;
    width: 100%;
    height: 100%;
    font-family: myfont2;
}

main{
    width: 95%;
    margin:auto;
}

h1{
    text-align: center;
    font-size:4em;
    font-family: myfont;    
}

h1::before{
    content: "§";
}

h2{
    padding:5%;
    text-align: center;
    font-family: myfont;
}

h3{
    text-align: center;
}

@font-face{
    font-family: myfont;
    src: url(PaperCutRegular.otf);
}

@font-face{
    font-family: myfont2;
    src: url(Underdog-Regular.ttf);
}

::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 0.5em rgba(0, 0, 0, 0.404);
	border-radius: 0.75em;
    background-color: #FFFFFF;
}

::-webkit-scrollbar{
	width: 1em;
	background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb{
	border-radius: 0.75em;
	-webkit-box-shadow: inset 0 0 0.5em rgba(0, 0, 0, 0.37);
	background-color: #F19A3E;
}
.grid-item:hover{
    animation:wiggle 0.75s;
}

  @keyframes wiggle {
    0% {transform: translate(1px, 1px) rotate(0deg);}
    10% {transform: translate(-1px, -2px) rotate(-1deg);}
    20% {transform: translate(0px, 1px) rotate(1deg);}
    30% {transform: translate(1px, 4px) rotate(0deg);}
    40% {transform: translate(-3px, -1px) rotate(1deg);}
    50% {transform: translate(-1px, 2px) rotate(-1deg);}
    60% {transform: translate(-3px, 1px) rotate(0deg);}
    70% {transform: translate(1px, 3px) rotate(-1deg);}
    80% {transform: translate(-1px, -1px) rotate(1deg);}
    90% {transform: translate(1px, 2px) rotate(0deg); }
    100% {transform: translate(-1px, -1px) rotate(-1deg);}
  }

/* Grid with floats */
#grid-floats{
    width: 100%;
    padding: 0;
    margin: 0;
}
#grid-floats h3{
    width: 100%;
}
#grid-floats li{
    list-style-type: none;
}
#grid-floats .grid-item{
    margin: 1em;
    width: calc((100% - 15rem)/4);
    float: left;
    height: 23em;
    border: 0.25em dashed #98D9C2;
    padding: 0.5em;
}

#grid-floats .grid-item:nth-child(3), 
#grid-floats .grid-item:nth-child(5), 
#grid-floats .grid-item:nth-child(7),
#grid-floats .grid-item:nth-child(8),
#grid-floats .grid-item:nth-child(10),
#grid-floats .grid-item:nth-child(12),
#grid-floats .grid-item:nth-child(14){
    background-color: #FFFFFF;
}
#grid-floats .grid-item:nth-child(2){
    background-color: #403233;
    color: #FFFFFF;
}
#grid-floats .grid-item:nth-child(4){
    background-color: #403233;
    color: #FFFFFF;
}
#grid-floats .grid-item:nth-child(6){
    background-color: #F19A3E;
}
#grid-floats .grid-item:nth-child(9){
    background-color: #F19A3E;
}
#grid-floats .grid-item:nth-child(11){
    background-color: #F19A3E;
}
#grid-floats .grid-item:nth-child(13){
     background-color: #403233;
     color: #FFFFFF;
}

#grid-floats img{
    width: 50%;
    display: block;
    margin:auto;
}
#grid-floats .grid-item:nth-child(1) {
    width: calc((100% - 8rem) / 2);
    background-color: #FFFFFF;
}
section{
    clear: both;
}

/* Grid with flexbox */
#grid-flex{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    text-align: center;
}
#grid-flex .grid-item{
    width: 20%;
    background-color:violet;
    list-style-type: none;
    padding: 1%;
    margin: 1%;
    border: 0.25em dashed #98D9C2;
    border-radius: 2%;
}
#grid-flex .grid-item:nth-child(1){
    width: 45%;
    background-color: #FFFFFF;
}
#grid-flex img{
    width: 50%;
}
#grid-flex .grid-item:nth-child(3), 
#grid-flex .grid-item:nth-child(5), 
#grid-flex .grid-item:nth-child(7),
#grid-flex .grid-item:nth-child(8),
#grid-flex .grid-item:nth-child(10),
#grid-flex .grid-item:nth-child(12),
#grid-flex .grid-item:nth-child(14){
    background-color: #FFFFFF;
}

#grid-flex .grid-item:nth-child(2){
    background-color: #403233;
    color: #FFFFFF;
}
#grid-flex .grid-item:nth-child(4){
    background-color: #403233;
    color: #FFFFFF;
}
#grid-flex .grid-item:nth-child(6){
    background-color: #F19A3E;
}
#grid-flex .grid-item:nth-child(9){
    background-color: #F19A3E;
}
#grid-flex .grid-item:nth-child(11){
    background-color: #F19A3E;
}
#grid-flex .grid-item:nth-child(13){
     background-color: #403233;
     color: #FFFFFF;
}

#grid-flex img{
    width: 50%;
}

/* Media Queries */

/* Two columns of grid with the exception of first element which takes the whole space in the first row */
@media screen and (max-width:600px){
    #grid-floats .grid-item{
        padding: 0.25rem;
        width: calc((100% - 3rem)/2);
        margin: 0.25rem;
        overflow: scroll;
    }
    #grid-floats .grid-item:nth-child(1) {
        width: calc(100% - 1.5rem);
        margin-left: 0.25rem;
    }
    #grid-flex .grid-item{
        padding: 1%;
        width: 44%;
    }
    #grid-flex .grid-item:nth-child(1){
        width: 95%;
    }
    #grid-flex .grid-item:nth-child(6){
        background-color: #403233;
        color: #FFFFFF;
    }
    #grid-flex .grid-item:nth-child(13){
        background-color: #F19A3E;
    }
    #grid-floats .grid-item:nth-child(6){
        background-color: #403233;
        color: #FFFFFF;
    }
    #grid-floats .grid-item:nth-child(13){
        background-color: #F19A3E;
    }
    #grid-floats .grid-item:nth-child(14){
        width: calc(100% - 1.5rem);
    }
    ::-webkit-scrollbar { 
        display: none; 
    }
}

/* Three columns grid, with the exception of first two elements which are dividing the space 50/50 */
@media screen and (min-width: 601px) and (max-width:1024px){
    #grid-floats .grid-item:nth-child(1){
        width: calc((100% - 3rem)/2);
    }
    #grid-floats .grid-item:nth-child(2){
        width: calc((100% - 3rem)/2);
        background-color: #F19A3E;
    }
    #grid-floats .grid-item{
        padding: 0.25rem;
        margin: 0.25rem;
        width: calc((100% - 4.5rem)/3);
        overflow: scroll;
    }
    #grid-flex .grid-item{
        padding: 1%;
        width: 27%;
    }
    #grid-flex .grid-item:nth-child(1){
        width: 44%;
    }
    #grid-flex .grid-item:nth-child(2){
        width: 44%;
        background-color: #F19A3E;
    }
    #grid-flex .grid-item:nth-child(9){
        background-color: #403233;
        color: #FFFFFF;
    }
    #grid-floats .grid-item:nth-child(9){
        background-color: #403233;
        color: #FFFFFF;
    }
    ::-webkit-scrollbar { 
        display: none; 
    }

}
@media screen and (min-width: 1024px){
    #grid-floats .grid-item:nth-child(12),
    #grid-floats .grid-item:nth-child(13),
    #grid-floats .grid-item:nth-child(14){
    width: calc((100% - 11.25rem)/3);
    }
}